@model TraversalCoreProject.Areas.Admin.Models.VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateVisitor</h1>


<form method="post">
    <input type="hidden" asp-for="VisitorID"/>
    <label>Ziyaretçi Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Ziyaretçi Soyad</label>
    <input type="text" class="form-control" asp-for="SurName" />
    <br />
    <label>Ziyaretçi Mail Adresi</label>
    <input type="email" class="form-control" asp-for="Mail" />
    <br />
    <label>Ziyaretçi Şehir</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />
    <label>Ziyaretçi Ülke</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
    <button class="btn btn-success">Güncelle</button>


</form>