@model EntityLayer.Concrete.Guide
<div class="comments mt-5">
    <h4 class="side-title ">Comments (2)</h4>
    <div class="media mt-4">
        <div class="img-circle">
            <img src="@Model.Image" class="img-fluid" alt="...">
        </div>
        <div class="media-body">

            <ul class="time-rply mb-2">
                <li>
                    <a href="#URL" class="name mt-0 mb-2 d-block">@Model.Name</a>
                

                </li>
                <li class="reply-last">
                    <a href="#reply" class="reply">
                        Reply
                    </a>
                </li>
            </ul>
            <p>
               @Model.Descripition
            </p>
        </div>
    </div>


</div>