
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Oteller Şehir Bilgisi</h1>
<form method="post">

    <label>Şehir Adını Giriniz</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-primary"> Şehir ID Getir</button>

</form>
