@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yeni Rezervasyon Sayfası</h1>

<form method="post">
    <!--<div class="form-group">
        @Html.Label("Lokasyon")-->
        @*@Html.DropDownListFor(x => x.Destinaion, (List<SelectListItem>)ViewBag.v, new*@
    <!--{-->




        @*@class = "form-control"
    })
    </div>*@

    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        <input type="text" asp-for="PersonCount" class="form-control" />

    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        <input type="date" asp-for="ReservationDate" class="form-control" />

    </div>
    <div class="form-group">
        @Html.Label("Eklemek İstedikleriniz")
        <input type="text" asp-for="Description" class="form-control" />

    </div>
    <button id="showToastrBtn" class="btn btn-dark">Rezervasyon Yap</button>





</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="path/to/toastr.min.js"></script>
<link rel="stylesheet" href="path/to/toastr.min.css">
<script>

    $(document).ready(function () {
        $('#showToastrBtn').click(function () {
            toastr.success('İşlem başarılı!', 'Onay');
        });
    });
</script>

